
</div>

<div id='footer-panel'>

an <a href='https://github.com/nicholashh/credence-tree/' target='_blank'>
open source</a> philosophical database /
<a>about Credence Tree</a> /
<a href='/terms-and-conditions'>terms and conditions</a> /
<a href='/privacy-statement'>privacy statement</a> /
<a href='/legal-disclaimer'>legal disclaimer</a> /
<a>contact us</a>

</div>

</body>

</html>
