
<tr>
  <td colspan='2' class='width2'>
    * LOGO HERE * <br/> <br/>
    <a href=''>recent</a> /
    <a href=''>popular</a> /
    <a href=''>tutorial</a> /
    <a href=''>news</a> /
    <a href=''>about</a> /
    <a href=''>contact us</a>
  </td>
  <td colspan='2' class='width2'></td>
  <td colspan='1' class='width1'>
    <a href=''>login</a> /
    <a href=''>join</a>
  </td>
</tr>
