
<!DOCTYPE html>
<html lang='en-US'>

<head>

  <meta charset='UTF-8'>

  <meta name='author' content='Nicholas Hanson-Holtry'>

  <link rel='stylesheet' href='/stylesheets/main.css' />

  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js'></script>

  <script src='https://apis.google.com/js/api:client.js'></script>
  <script src='/scripts/google-oauth.js'></script>
  
  <script src='/scripts/forms/all-forms.js'></script>
  <script src='/scripts/forms/join-form.js'></script>
  <script src='/scripts/forms/search-form.js'></script>
  <script src='/scripts/forms/results-form.js'></script>
  <script src='/scripts/forms/citation-form.js'></script>

  <title>Credence Tree</title>

</head>
