
::-webkit-scrollbar {

  display: none; }

html {

  .top-level-mixin () {

    margin: 0;

    width: 100vw;
    height: 100vh;

    overflow-y: scroll;
    overflow-x: hidden; }

  .top-level-mixin();

  body {

    .top-level-mixin();

    div#background-image {

      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -100;
      position: absolute;

      overflow: hidden;
      object-fit: cover;
      background-size: cover;
      background-position: center;
      background-image: url('../images/tree.jpg');
      opacity: 0.5; }

    div#main-content-panel {

      padding-top:    5vmin;
      padding-bottom: 5vmin;
      padding-left:   5vmin;
      padding-right:  5vmin;

      table {

        border: 0;
        border-collapse: collapse;

        table-layout: fixed;

        .font-size () {

          font-size: 18px; }

        .font-size();

        tr {

          text-align: center;
          text-shadow: 0px 0px 1px #ffffff; }

        td, th {

          padding: 0; }

        .width-mixin (@num-cols) {

          width: ~'calc( (100vw - 10vmin) / 5 * @{num-cols} - 1px)'; }

        .height-mixin (@num-rows) {

          height: ~'calc( (100vh - 10vmin) / 5 * @{num-rows} - 1px)'; }

        td.width1 { .width-mixin(1); }
        td.width2 { .width-mixin(2); }
        td.width3 { .width-mixin(3); }
        td.width4 { .width-mixin(4); }
        td.width5 { .width-mixin(5); }

        th {

          height: 0;

          .width-mixin(1); }

        td {

          // border: 1px solid black;

          .height-mixin(1);

          .text-mixin () {

            padding: 0.5em;

            border: 1px solid rgba(0,0,0,0.25);

            width: ~'calc(100% - 1em - 2px)';

            background-color: #ffffff;

            border-radius: 0.25em;
            box-shadow: 0 0 0 0.25em rgba(0,0,0,0.25);

            text-align: left;
            .font-size(); }

          div.content-panel {

            .text-mixin();

            padding-top:    1em;
            padding-bottom: 1em; }

          input#basic-search {

            .text-mixin(); } } } } } }
