
html, html body {

  margin: 0;

  width: 100vw;
  height: 100vh;

}

  html body div#content-panel-background-image {

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    position: absolute;

    overflow: hidden;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-image: url('../images/tree.jpg');
    opacity: 0.5;

  }

  html body div#content-panel {

    padding-top: 5vmin;
    padding-bottom: 5vmin;
    padding-left: 5vmin;
    padding-right: 5vmin;

    width: calc(100vw - 10vmin);
    height: calc(100vh - 10vmin);

  }

    html body div#content-panel 
    table#home-page-table {

      width: 100%;
      height: 100%;

      border: 0;
      table-layout: fixed;
      border-collapse: collapse;

      font-size: 20px;

    }

      html body div#content-panel 
      table#home-page-table tr {

        width: 20%;

        text-align: center;

        text-shadow: 0px 0px 1px #ffffff;

      }

      html body div#content-panel 
      table#home-page-table td {

        padding: 0;

        height: 20%;

        /*border: 1px solid black;*/
        
      }

        html body div#content-panel 
        table#home-page-table td input#basic-search {

          padding: 0;
          padding-top: 0.5em;
          padding-bottom: 0.5em;

          border: 1px solid black;

          width: calc(100% - 2px);

          font-size: 20px;
          
        }
