
<% include ../partials/begin-head.ejs %>
<% include ../partials/end-head.ejs %>
<% include ../partials/begin-body.ejs %>

<table class='grey'>
  <% include ../partials/table-rows/table-format.ejs %>
  <% include ../partials/table-rows/header.ejs %>
  <% include ../partials/table-rows/basic-search.ejs %>
</table>

<br/>
you queried "<%= query %>"

<br/>
<br/>
your results are:
<ul>
  <% results.forEach(function(row) { %>
    <li>
      (id: <%= row.id %>)
      (tags: <%= row.metadata_tags %>)
      <%= row.proposition %>
    </li>
  <% }); %>
</ul>

<% include ../partials/end-body.ejs %>
