
<% include ../partials/begin-head.ejs %>
<% include ../partials/end-head.ejs %>
<% include ../partials/begin-body.ejs %>

<table>
  <% include ../partials/table-format-row.ejs %>
  <% include ../partials/header-row.ejs %>
  <% include ../partials/basic-search-row.ejs %>
</table>

<br/> you queried "<%= query %>"

<% include ../partials/end-body.ejs %>
