
<% include ../partials/begin-head.ejs %>
<% include ../partials/end-head.ejs %>
<% include ../partials/begin-body.ejs %>

<div id='background-image'></div>

<table>

  <% include ../partials/table-rows/table-format.ejs %>
  <% include ../partials/table-rows/header.ejs %>
  <% include ../partials/table-rows/empty.ejs %>
  <% include ../partials/table-rows/basic-search.ejs %>

  <tr>
    <td colspan='1' class='width1'></td>
    <td colspan='3' class='width3'>
      <div class='content-panel'>
        <% for (var i = 0; i < results.length; i++) { %>
          <% var row = results[i]; %>
          <% if (i > 0) { %>
            <br/> <br/> <% } %>
          <a href=''>
            <%= row.id %>)
            <%= row.proposition %>
          </a>
        <% } %>
      </div>
    </td>
    <td colspan='1' class='width1'></td>
  </tr>

</table>

<% include ../partials/end-body.ejs %>
