
<% include ../partials/begin-body.ejs %>

<div id='contribution-page'></div>

<table>

  <% include ../partials/table-rows/table-format.ejs %>
  <% include ../partials/table-rows/header.ejs %>
  <% include ../partials/table-rows/empty.ejs %>
  <% include ../partials/table-rows/search-bar.ejs %>

</table>

<div class='hidden' id='contribution-confirmation-area'>

  <% if (typeof contribResults == 'string' && contribResults == 'success') { %>

    <div class='content-panel'>
      <br/> Success! This information has been recorded in the database.
      <br/> <br/> Thank you for contributing to Credence Tree! <br/> <br/>
    </div>

  <% } else if (Object.keys(query).length > 0) { var numCorrect = 0; %>

    <div class='content-panel'>
      <br/> INFORMATION REVIEW
      <br/> <br/> <hr/> <br/> first section... <br/> <br/>
    </div>

    <% for (var i = 0; i < contribResults.length; i++) { %>

      <% var results = contribResults[i]; if (typeof results == 'string') { %>

        <div class='content-panel'> <br/>
          <% if ((results == 'CORRECT?newProp')
              || (results == 'CORRECT?oldProp')
              || (results == 'CORRECT?newCite')
              || (results == 'CORRECT?oldCite')
              || (results == 'CORRECT?no')
              || (results == 'CORRECT?logic')) {
            var inputName = 'yes' + (++numCorrect); %>
            <% if (results != 'CORRECT?no') { %>
              Are you sure that this information is exactly correct? <br/> <br/>
              <input class='confirmation' type='radio'
                  name='<%= inputName %>' value='1' </input>
                  <% if (results == 'CORRECT?newProp') { %>
                    Yes, I want to CREATE a NEW proposition.
                  <% } else if (results == 'CORRECT?oldProp') { %>
                    Yes, I want to REUSE the EXISTING proposition.
                  <% } else if (results == 'CORRECT?newCite') { %>
                    Yes, I want to CREATE a NEW citation.
                  <% } else if (results == 'CORRECT?oldCite') { %>
                    Yes, I want to REUSE the EXISTING citation.
                  <% } else if (results == 'CORRECT?logic') { %>
                    Yes, this logical interpretation is semantically correct.
                  <% } %> <br/>
              <input class='confirmation' type='radio'
                  name='<%= inputName %>' value='2' </input>
                  No, I will edit the text and re-submit the form.
             <% } else { %>
               <%- contribResults[++i] %>
             <% } %> <br/> <br/> <hr/> <br/>
            <% if ((i + 1) != contribResults.length) { %>
              next section... <% } else { %>
              last section... <% } %>
          <% } else { %>
            <%- results %>
          <% } %> <br/> <br/>
        </div>

        <% if ((i + 1) == contribResults.length) { %>
          <div class='content-panel'>
            <br/> If you answered <u>yes</u> to all the above questions, and if
            there were <u>no</u> errors, please enter the page number range for this
            citation. (If no page numbers are available for this source, please
            use "-1" for both fields.) Otherwise, simply leave these fields
            blank for now, change the query text as needed, and re-submit
            the form for a new Information Review. <br/> <br/>
            <input class='confirmation' type='text' name='pagelow'
                size='1'></input> citation page number lower bound <br/>
            <input class='confirmation' type='text' name='pagehigh'
                size='1'></input> upper bound (can be the same) <br/>
            <!-- <select class='confirmation' name='confidence'>
              <option value='111'> 0.01 </option>
              <option value='11' > 0.1 </option>
              <option value='1'  > 1 </option>
              <option value='2'  > 2 </option>
              <option value='3'  > 3 </option>
              <option value='4'  > 4 </option>
              <option value='5'  > 5 </option>
              <option value='6'  > 6 </option>
              <option value='7'  > 7 </option>
              <option value='8'  > 8 </option>
              <option value='9'  > 9 </option>
              <option value='99' > 9.9 </option>
              <option value='999'> 9.99 </option>
            </select> confidence rating -->
          <br/> </div> <% } %>

      <% } %>
      
    <% } %>
      
  <% } %>

</div>

<% include ../partials/end-body.ejs %>
