
<% include ../partials/begin-head.ejs %>
<% include ../partials/end-head.ejs %>
<% include ../partials/begin-body.ejs %>

<div id='home-page-background-image'></div>

<table>

  <% include ../partials/table-format-row.ejs %>
  <% include ../partials/header-row.ejs %>
  <% include ../partials/empty-row.ejs %>
  <% include ../partials/basic-search-row.ejs %>
  <% include ../partials/empty-row.ejs %>

  <tr>
    <td colspan='3' class='width3'></td>
    <td colspan='2'>A searchable database of assertions and arguments 
    made by professional philosophers. Enter one or more keywords to 
    start searching.</td>
  </tr>

</table>

<% include ../partials/end-body.ejs %>
