
<% include ../partials/begin-body.ejs %>

<table>

  <% include ../partials/table-rows/table-format.ejs %>
  <% include ../partials/table-rows/header.ejs %>
  <% include ../partials/table-rows/empty.ejs %>
  <% include ../partials/table-rows/search-bar.ejs %>
  <% include ../partials/table-rows/empty.ejs %>

  <tr>
    <td colspan='3' class='width3'></td>
    <td colspan='2' class='width2'>
    Welcome to Credence Tree, an 
    <a href='https://github.com/nicholashh/credence-tree/' target='_blank'>
    open source</a> database of assertions and arguments made by professional 
    philosophers. Enter one or more keywords to start searching!</td>
  </tr>

</table>

<% include ../partials/end-body.ejs %>
