
<% include ../partials/begin-head.ejs %>
<% include ../partials/end-head.ejs %>
<% include ../partials/begin-body.ejs %>

<div id='home-page-background-image'></div>

<table>

  <% include ../partials/table-rows/table-format.ejs %>
  <% include ../partials/table-rows/header.ejs %>
  <% include ../partials/table-rows/empty.ejs %>
  <% include ../partials/table-rows/basic-search.ejs %>
  <% include ../partials/table-rows/empty.ejs %>

  <tr>
    <td colspan='3' class='width3'></td>
    <td colspan='2'>An <a href='https://github.com/nicholashh/credence-tree/'>
    open source</a> database of assertions and arguments made by professional 
    philosophers. Enter one or more keywords to start searching!</td>
  </tr>

</table>

<% include ../partials/end-body.ejs %>
