
<% include ../partials/begin-head.ejs %>
<% include ../partials/end-head.ejs %>
<% include ../partials/begin-body.ejs %>

<div id='content-panel-background-image'></div>

<div id='content-panel'>

  <table id='home-page-table'>
    <tr>
      <td colspan='2'>
        * LOGO HERE * <br/> <br/>
        <a href=''>recent</a> /
        <a href=''>popular</a> /
        <a href=''>tutorial</a> /
        <a href=''>news</a> /
        <a href=''>about</a> /
        <a href=''>contact us</a>
      </td>
      <td colspan='2'>&nbsp;</td>
      <td>
        <a href=''>login</a> /
        <a href=''>join</a>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan='3'>
        <form>
          <input id='basic-search' name='query' rows='1' placeholder='Search Knowledge Tree for assertions and arguments...'></textarea>
        </form>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td colspan='2'>A searchable database of assertions and arguments made by professional philosophers. Enter one or more keywords to start searching.</td>
    </tr>
  </table>

</div>

<% include ../partials/end-body.ejs %>
