
<% include ../partials/begin-body.ejs %>

<table>

  <% include ../partials/table-rows/table-format.ejs %>
  <% include ../partials/table-rows/header.ejs %>
  <% include ../partials/table-rows/empty.ejs %>
  <% include ../partials/table-rows/search-bar.ejs %>
  <% include ../partials/table-rows/empty-short.ejs %>

  <!-- TODO: actual searching -->
  <!-- <% include ../partials/table-rows/search-results.ejs %> -->
  <tr>
    <td colspan='1' class='width1 results'></td>
    <td colspan='3' class='width3 results'>
      <div class='assertions content-panel'>
        <%- dbResults %>
      </div>
    </td>
    <td colspan='1' class='width1 results'></td>
  </tr>

</table>

<% include ../partials/end-body.ejs %>
