
<% include ../partials/begin-body.ejs %>

<table>

  <% include ../partials/table-rows/table-format.ejs %>
  <% include ../partials/table-rows/header.ejs %>
  <% include ../partials/table-rows/empty.ejs %>
  <% include ../partials/table-rows/search-bar.ejs %>

  <% if (typeof(text) != 'undefined') { %> <tr>
    <td colspan='1' class='width1 results'></td>
    <td colspan='3' class='width3 results'>
      <div class='content-panel'> <%- text %> </div> </td>
    <td colspan='1' class='width1 results'></td>
  <% } %> </tr>

  <% include ../partials/table-rows/empty-short.ejs %>
  <% include ../partials/table-rows/search-results.ejs %>

</table>

<% include ../partials/end-body.ejs %>
